<% provide(:title, @user.name) %>

  <%= render 'shared/user_bar' %>

  <div>
    <% if @user.books.any? %>
      <h1><%= @user.name %>'s Books (<%= @books_count %>) </h1>
      <%= will_paginate @books %>
      <ol class="books">
        <%= render @books %>
      </ol>
      <%= will_paginate @books %>
    <% else %>
      <h3><%= @user.name %> still didn't insert any book </h3>
    <% end %>
  </div>
